@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Handjet:wght@300;400&display=swap');


.nav{
    background-color: rgb(9, 22, 6);
}
.parrafo1{
    font-family: "Hadjet";
}
    .h1{
        font-family:  "Hadjet";
        background-color: rgb(0, 0, 0);
    }
 
